@charset "utf-8";
/*base setting*/
html {
  font-size: 14px;
}
* {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
}
/*登录官网首页弹出的广告*/
.welcome {
  position: absolute;
  width: 500px;
  height: 600px;
  text-align: center;
  color: #fff;
  top: 50px;
  left: 50%;
  margin-left: -250px;
  z-index: 88;
  background: #f55;
  display: none;
}
.welcome span.close-ad {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url('../images/close.png');
  background-size: 100%;
}
.welcome span.close-ad:hover {
  background: url("../images/close2.png");
  background-size: 100%;
}
.welcome p {
  margin-top: 260px;
  font-size: 25px;
}
/*end 登录官网首页弹出的广告*/
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  clear: both;
}
.mid-1000 {
  width: 1000px;
  margin: 0 auto;
  background: #ccc;
}
.show {
  display: block;
}
.hid {
  display: none;
}
/*header*/
.header {
  height: 134px;
  margin-top: 18px;
  margin-bottom: 18px;
  background: #FFF;
}
.header .dr-logo {
  height: 120px;
  margin-top: 14px;
  overflow: hidden;
}
.header .dr-logo a {
  display: inline-block;
  color: #626262;
}
.header .dr-logo a:last-child {
  margin-left: 40px;
  font-size: 16px;
  overflow: hidden;
}
.header .dr-logo a:last-child span {
  display: block;
  margin-bottom: -2px;
}
.header .dr-logo img {
  vertical-align: bottom;
}
.header .dr-header-info {
  height: 120px;
  width: 580px;
  margin-top: 14px;
  position: relative;
}
.header .dr-header-info .dr-number-left {
  height: 40px;
  width: 100%;
}
.header .dr-header-info .dr-number-left > a {
  display: inline-block;
  background: url("../images/hr.png") no-repeat right center;
  font-size: 12px;
  padding: 0 15px 0 9px;
  color: #626262;
}
.header .dr-header-info .dr-number-left > a:hover {
  color: #bf967c;
}
.header .dr-header-info .dr-number-left > a.attention {
  position: relative;
}
.header .dr-header-info .dr-number-left > a.attention .attention-box {
  position: absolute;
  z-index: 188;
  top: 27px;
  left: -120px;
  width: 300px;
  height: 206px;
  background: #fff;
}
.header .dr-header-info .dr-number-left > a.attention .attention-box > div {
  float: left;
  box-sizing: border-box;
  width: 49%;
  height: 100%;
  text-align: center;
  padding: 10px;
}
.header .dr-header-info .dr-number-left > a.attention .attention-box > div span {
  color: #333;
  font-size: 14px;
}
.header .dr-header-info .dr-number-left > a.attention .attention-box > div span:first-child {
  display: block;
  margin-top: 140px;
}
.header .dr-header-info .dr-number-left > a.attention .attention-box > div:first-child {
  background: url("../images/gzh_ewm1.jpg") no-repeat center 20px;
}
.header .dr-header-info .dr-number-left > a.attention .attention-box > div.wsapp {
  background: url("../images/APP_ewm2.jpg") no-repeat center 20px;
}
.header .dr-header-info .dr-number-left > a.sjgw {
  position: relative;
}
.header .dr-header-info .dr-number-left > a.sjgw .sjgw-box {
  display: none;
  background: #fff;
  position: absolute;
  top: 27px;
  left: -45px;
  width: 150px;
  height: 190px;
  text-align: center;
  z-index: 188;
}
.header .dr-header-info .dr-number-left > a.sjgw .sjgw-box > div {
  width: 100%;
  height: 150px;
  background: url("../images/gzh_ewm1.jpg") no-repeat center 20px;
}
.header .dr-header-info .dr-number-left > a.sjgw .sjgw-box > span {
  font-size: 16px;
  color: #000;
}
.header .dr-header-info .dr-number-left > a .tele img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.header .dr-header-info .dr-number-left > a.lang {
  padding-right: 25px;
  background: url("../images/bottom.png") no-repeat right center;
  position: relative;
}
.header .dr-header-info .dr-number-left > a.lang .language-toggle {
  display: none;
  position: absolute;
  width: 80px;
  height: 40px;
  z-index: 200;
  background: #fff;
  color: #333;
}
.header .dr-header-info .dr-number-left > a.lang .language-toggle span:hover {
  color: #bf967c;
}
.header .dr-header-info .shop {
  margin-top: 5px;
  width: 130px;
  height: 25px;
  line-height: 25px;
  position: relative;
  z-index: 10;
  background: #FFF;
}
.header .dr-header-info .shop img {
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
}
.header .dr-header-info .shop > .demo-shop {
  width: 50px;
  color: #bf967c;
}
.header .dr-header-info .shop > .select-city {
  background: #fff;
  background-size: 12px 12px;
  z-index: 9;
  position: relative;
  border: 1px solid transparent;
}
.header .dr-header-info .shop > .select-city img {
  width: 12px;
  height: 12px;
}
.header .dr-header-info .shop > .select-city span {
  color: #626262;
}
.header .dr-header-info .shop > .select-city span:hover {
  color: #c57d5c;
}
.header .dr-header-info .shop .shop-collection {
  position: absolute;
  background: #fff;
  box-sizing: border-box;
  text-align: center;
  min-width: 263px;
  top: 25px;
  right: 0;
  padding-top: 10px;
  display: none;
}
.header .dr-header-info .shop .shop-collection a {
  margin-right: 10px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
  margin-bottom: 6px;
  color: #797979;
  font-size: 12px;
}
.header .dr-header-info .shop .shop-collection a:hover {
  color: #bf967c;
}
.header .dr-header-info .id-search {
  margin-top: 20px;
}
.header .dr-header-info .id-search .arrow-img {
  width: 348px;
  height: 57px;
  padding: 2px;
  display: none;
  font-size: 12px;
  letter-spacing: 1px;
  position: absolute;
  z-index: 88;
  right: 0;
  top: 35px;
  background: url("../images/yzts_word.png");
  background-size: 100% 100%;
}
.header .dr-header-info .id-search span {
  color: #626262;
}
.header .dr-header-info .id-search input {
  width: 300px;
  height: 25px;
}
.header .dr-header-info .id-search i {
  position: absolute;
  right: 0;
  top: 92px;
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url("../images/search.png");
  background-size: 22px 22px;
}
/*end header*/
.dr-nav {
  width: 100%;
  height: 50px;
  background: #797979;
}
.dr-nav > ul {
  text-align: center;
  height: 50px;
  background: #797979;
  position: relative;
}
.dr-nav > ul > li {
  float: left;
  margin-left: 15px;
}
.dr-nav > ul > li:first-child a {
  color: #dbc7ba;
}
.dr-nav > ul > li > a {
  display: inline-block;
  width: 126px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
}
.dr-nav > ul > li > a:hover {
  color: #dbc7ba;
}
.dr-nav > ul > li > .wrap {
  box-sizing: border-box;
  background: #fff;
  position: absolute;
  z-index: 5;
  width: 1000px;
  height: 250px;
  left: 0 ;
  top: 50px;
  display: none;
}
.dr-nav > ul > li > .wrap > div {
  width: 480px;
  height: 100%;
}
.dr-nav > ul > li > .wrap > .dr-right > a img {
  padding-top: 30px;
}
.dr-nav > ul > li > .wrap > .dr-left > img {
  padding: 30px 0 10px 0;
}
.dr-nav > ul > li > .wrap > .dr-left p a {
  display: inline-block;
  padding: 10px 40px 10px 10px;
  background: url("../images/black_icon.png") no-repeat right center;
  color: #626262;
  font-size: 14px;
}
.dr-nav > ul > li > .wrap > .dr-left p a:hover {
  color: #d49e85;
}
.dr-nav > ul > li > .wrap > .dr-right p a {
  display: inline-block;
  padding: 10px 40px 10px 10px;
  color: #626262;
  font-size: 14px;
}
.dr-nav > ul > li > .wrap > .dr-right p a:hover {
  color: #d49e85;
}
.dr-nav > ul > li > .wrap > img {
  padding-top: 10px;
}
.dr-nav > ul > li .marry-me {
  height: 200px;
}
.dr-nav > ul > li .marry-me .diamond-img {
  width: 200px;
  height: 200px;
  padding-top: 30px;
  position: relative;
}
.dr-nav > ul > li .marry-me .diamond-img > a {
  display: none;
}
.dr-nav > ul > li .marry-me .diamond-img > a > img {
  width: 100%;
}
.dr-nav > ul > li .marry-me > ul {
  width: 45%;
}
.dr-nav > ul > li .marry-me > ul li {
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #ccc;
}
.dr-nav > ul > li .marry-me > ul li > a {
  color: #5e5e61;
}
.dr-nav > ul > li .marry-me > ul li > a:hover {
  color: #c67c59;
}
.dr-nav > ul > li .marry-me > #marry-me-right-img {
  width: 200px;
  height: 200px;
}
.dr-nav > ul > li .marry-me > #marry-me-right-img > a img {
  width: 100%;
}
.play-box {
  position: relative;
  z-index: 0;
  height: 600px;
  width: 100%;
  overflow: hidden;
}
.image-list a img {
  height: 600px;
  margin-left: -260px;
}
.image-list a {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity .5s;
}
.image-list a.current {
  opacity: 1;
}
.icon-list {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -60px;
}
.icon-list span {
  float: left;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.control-icon span {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  color: #fff;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.control-icon span.left {
  background: url("../images/ico-bannerBtn.png");
  left: 0px;
}
.control-icon span.left:hover {
  background: url("../images/ico-bannerBtn.png") 0 -66px;
}
.control-icon span.right {
  background: url("../images/ico-bannerBtn.png") -66px 0;
  right: 0px;
}
.control-icon span.right:hover {
  background: url("../images/ico-bannerBtn.png") -66px -66px;
}
.three-wrap {
  background: #f8f7fc;
  height: 340px;
  margin: 20px 0;
  padding: 20px;
}
.three-wrap .three-img {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
}
.three-wrap .three-img > div {
  margin-left: 5px;
}
.three-wrap .three-img .one-img {
  position: relative;
  width: 390px;
  height: 100%;
  background: #888;
  overflow: hidden;
}
.three-wrap .three-img .one-img .diamond-word {
  width: 100%;
  margin-top: 20px;
  position: absolute;
  z-index: 8;
  text-align: center;
  font-family: "times new roman";
}
.three-wrap .three-img .one-img .diamond-word p {
  font-size: 30px;
}
.three-wrap .three-img .one-img > a > img {
  width: 100%;
  position: absolute;
}
.three-wrap .three-img .one-img > a > img:hover {
  transform: scale(1.2, 1.2);
}
/*实体店*/
.shop-bg {
  width: 1200px;
  height: 90px;
  margin: 0 auto;
  background: #dfcbc5;
  text-align: center;
  position: relative;
}
.shop-bg span {
  position: absolute;
  color: #FFF;
  font-size: 20px;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -12px;
}
.shop-bg span:hover {
  color: #c57d5c;
}
.shop-bg img {
  display: inline-block;
  margin-top: -25px;
}
/*香港 上海...*/
.shop-city {
  width: 500px;
  margin: 30px auto;
  margin-bottom: 10px;
  text-align: center;
}
.shop-city li {
  float: left;
}
.shop-city li:first-child a {
  border-left-color: transparent;
}
.shop-city a {
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  color: #666;
  font-size: 20px;
  border-left: 1px solid #ccc;
}
.shop-city a:hover {
  color: #c57d5c;
}
/*end 香港 上海...*/
/*全国实体店搜索*/
.shop-view {
  width: 1200px;
  height: 470px;
  margin: 0 auto;
  background: #f1f0f1;
}
.shop-view .search-shop {
  width: 495px;
  height: 100%;
  position: relative;
  background: url("../images/shop.jpg");
}
.shop-view .search-shop .search-shop-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -57px;
  margin-left: -180px;
}
.shop-view .search-shop #search-demo-shop {
  position: relative;
  width: 360px;
  height: 50px;
  background: #fff;
}
.shop-view .search-shop #search-demo-shop span {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 30px;
}
.shop-view .search-shop #search-demo-shop input {
  padding: 0 20px;
  background: url("../images/ico-gps1.png") no-repeat left center;
  width: 60%;
  outline: 0;
  border: 0;
}
.shop-view .search-shop #search-demo-shop a {
  display: inline-block;
  position: relative;
  top: 10px;
  width: 30px;
  height: 30px;
  background: url("../images/ico-seach1.png") no-repeat center center;
}
.shop-view .search-shop > .search-shop-wrap > a {
  display: block;
  width: 360px;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  color: #fff;
  background: #d49e85;
  margin-top: 20px;
  text-align: center;
}
.shop-view .search-shop > .search-shop-wrap > a:hover {
  background: #c57d5c;
}
.shop-view .shop-story {
  margin-top: 80px;
  width: 314px;
  height: 319px;
  text-align: center;
}
.shop-view .shop-story h4 {
  margin-top: 60px;
}
.shop-view .shop-story h4 a {
  font-family: "times new roman";
  color: #626262;
}
.shop-view .shop-story > p:nth-of-type(1) {
  color: #c57d5c;
}
.shop-view .shop-story > span {
  display: inline-block;
  margin-top: 20px;
  padding: 5px 40px;
  color: #c57d5c;
  border: 1px solid #c57d5c;
}
.shop-view .shop-story > span:hover {
  cursor: pointer;
  color: #fff;
  background: #c57d5c;
}
.shop-view .love-story {
  text-align: center;
  width: 360px;
  height: 355px;
  margin-left: 10px;
  margin-top: 55px;
  background: #FFF;
}
.shop-view .love-story p:first-of-type {
  margin-top: 20px;
  color: #1a1a1a;
  font-size: 15px;
  font-weight: bold;
}
/*end 全国实体店搜索*/
/*end实体店*/
/*DR广告*/
.dr-ad {
  width: 1200px;
  height: 320px;
  position: relative;
  margin: 25px auto;
  background: url("../images/adv1.jpg");
}
.dr-ad .dr-ad-left {
  position: absolute;
  top: 50%;
  left: 0%;
  margin-top: -76px;
  width: 460px;
  height: 153px;
  text-align: center;
}
.dr-ad .dr-ad-right {
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -76px;
  right: 0;
  width: 460px;
  height: 153px;
}
.dr-ad .dr-ad-right span {
  color: #c57d5c;
}
/* end DR广告*/
/*DR 广告2*/
.dr-ad2 {
  width: 1200px;
  height: 450px;
  margin: 40px auto;
}
.dr-ad2 a {
  float: left;
  position: relative;
  width: 400px;
  height: 100%;
  background: #ccc;
}
.dr-ad2 a.ad2-img1 {
  background: url("../images/aa.jpg");
}
.dr-ad2 a.ad2-img2 {
  background: url("../images/bb.jpg");
}
.dr-ad2 a.ad2-img3 {
  background: url("../images/cc.jpg");
}
.dr-ad2 a > div {
  position: absolute;
  text-align: center;
  bottom: 20px;
  left: 50%;
  color: #626262;
  font-size: 18px;
  margin-left: -80px;
}
.dr-ad2 a > div p.ad2-p {
  color: #c57d5c;
}
/*end DR 广告2*/
/*分割*/
.division {
  width: 1200px;
  height: 68px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.division .inner1 {
  height: 10px;
  background: #626262;
}
.division .inner2 {
  margin-top: 8px;
  height: 50px;
  line-height: 50px;
  background: #e0cbc6;
}
.division .inner2 > a {
  padding-left: 20px;
  color: #626262;
  font-size: 18px;
}
.division .inner2 > a:hover {
  color: #c57d5c;
}
/*end分割*/
.dr-ad3 {
  width: 1200px;
  height: 580px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.man-word {
  position: relative;
}
.man-word .man-word-content {
  position: absolute;
  left: 40px;
  top: 200px;
  width: 450px;
  height: 113px;
  text-align: center;
}
.man-word .man-word-content span {
  color: #c57d5c;
  cursor: pointer;
}
.man-word .man-word-content span:hover {
  color: #a57d5c;
}
/*DR gift*/
.dr-gift {
  width: 1200px;
  height: 45px;
  line-height: 45px;
  margin: 30px auto;
  margin-bottom: 5px;
}
.dr-gift ul {
  padding-left: 30%;
}
.dr-gift ul > li {
  float: left;
}
.dr-gift ul > li a {
  display: inline-block;
  padding: 0 40px;
  color: #626262;
}
.dr-gift > a {
  display: inline-block;
  margin-right: 20px;
  color: #c57d5c;
}
/*DR gift img*/
.dr-gift-img {
  width: 1200px;
  height: 890px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.dr-gift-img .gift-top {
  width: 100%;
  height: 284px;
}
.dr-gift-img .gift-top img {
  border: 0;
}
.dr-gift-img .gift-mid-left-img {
  width: 507px;
  height: 299px;
}
.dr-gift-img .gift-mid-left-img img {
  width: 100%;
}
.dr-gift-img .gift-mid-right-img {
  width: 691px;
  height: 299px;
}
.dr-gift-img .gift-mid-right-img img {
  width: 100%;
}
.dr-gift-img .gift-bottom-left-img {
  width: 507px;
  height: 299px;
}
.dr-gift-img .gift-bottom-left-img img {
  width: 100%;
}
.dr-gift-img .gift-bottom-right-img {
  width: 691px;
  height: 299px;
}
.dr-gift-img .gift-bottom-right-img img {
  width: 100%;
}
/*end DR gift*/
/*DR star*/
.dr-star {
  width: 1200px;
  height: 580px;
  margin: 20px auto;
}
/*end DR star*/
/*DR funs*/
.dr-funs {
  width: 1200px;
  height: 379px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.dr-funs .funs-left {
  width: 598px;
  height: 100%;
  overflow: hidden;
}
.dr-funs .funs-right {
  width: 600px;
  height: 100%;
  position: relative;
  background: url("../images/funsright.jpg") no-repeat;
}
.dr-funs .funs-right .funs-word {
  text-align: center;
  position: absolute;
  width: 400px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dr-funs .funs-right .funs-word h4 {
  margin: 30px 0;
}
.dr-funs .funs-right .funs-word h4 a {
  color: #fff;
  font-size: 25px;
}
.dr-funs .funs-right .funs-word > a {
  display: inline-block;
  padding: 5px 35px;
  border: 1px solid #c57d5c;
  color: #c57d5c;
}
.dr-funs .funs-right .funs-word > a:hover {
  background: #c57d5c;
  color: #fff;
}
/*end DR funs*/
/*DR footer*/
.dr-footer-top1 {
  width: 100%;
  height: 10px;
  background: #000;
  margin-bottom: 8px;
}
.dr-footer-top2 {
  width: 100%;
  height: 2px;
  background: #888;
}
.dr-footer-icon {
  width: 1000px;
  height: 90px;
  padding: 30px 0;
  margin: 0 auto;
  margin-bottom: 35px;
}
.dr-footer-icon ul {
  overflow: hidden;
  width: 100%;
}
.dr-footer-icon ul li {
  float: left;
  margin-left: 61px;
  height: 90px;
  width: 80px;
  text-align: center;
}
.dr-footer-icon ul li a {
  color: #626262;
}
.dr-footer-icon ul li a i {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.dr-footer-icon ul li i.footer-ul-img1 {
  background: url("../images/icon_footer.png");
}
.dr-footer-icon ul li i.footer-ul-img1:hover {
  background: url("../images/icon_footer.png") 0 -60px;
}
.dr-footer-icon ul li i.footer-ul-img2 {
  background: url("../images/icon_footer.png") -60px 0;
}
.dr-footer-icon ul li i.footer-ul-img2:hover {
  background: url("../images/icon_footer.png") -60px -60px;
}
.dr-footer-icon ul li i.footer-ul-img3 {
  background: url("../images/icon_footer.png") -120px 0;
}
.dr-footer-icon ul li i.footer-ul-img3:hover {
  background: url("../images/icon_footer.png") -120px -60px;
}
.dr-footer-icon ul li i.footer-ul-img4 {
  background: url("../images/icon_footer.png") -180px 0;
}
.dr-footer-icon ul li i.footer-ul-img4:hover {
  background: url("../images/icon_footer.png") -180px -60px;
}
.dr-footer-icon ul li i.footer-ul-img5 {
  background: url("../images/icon_footer.png") -240px 0;
}
.dr-footer-icon ul li i.footer-ul-img5:hover {
  background: url("../images/icon_footer.png") -240px -60px;
}
.dr-footer-icon ul li i.footer-ul-img6 {
  background: url("../images/icon_footer.png") -300px 0;
}
.dr-footer-icon ul li i.footer-ul-img6:hover {
  background: url("../images/icon_footer.png") -300px -60px;
}
.dr-footer-icon ul li i.footer-ul-img7 {
  background: url("../images/icon_footer.png") -360px 0;
}
.dr-footer-icon ul li i.footer-ul-img7:hover {
  background: url("../images/icon_footer.png") -360px -60px;
}
/*dr-gray*/
.dr-gray {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: #e9e9e9;
  /*end dr-gray*/
}
.dr-gray .dr-gray-content {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.dr-gray .dr-gray-content .dr-help2 {
  line-height: 20px;
  text-align: center;
}
.dr-gray .dr-gray-content .dr-help2 p {
  font-size: 14px;
  margin-top: 25px;
  color: #626262;
}
.dr-gray .dr-gray-content .dr-help2 span {
  font-size: 20px;
  color: #424242;
}
.dr-gray .dr-gray-content .dr-help1 {
  width: 765px;
  position: relative;
}
.dr-gray .dr-gray-content .dr-help1 > a,
.dr-gray .dr-gray-content .dr-help1 > .help-one > a {
  background: url("../images/black_icon.png") no-repeat left center;
  display: inline-block;
  font-size: 20px;
  color: #626262;
  margin-right: 48px;
  padding-left: 40px;
  cursor: pointer;
}
.dr-gray .dr-gray-content .dr-help1 .share {
  position: absolute;
  top: 70px;
  width: 180px;
  height: 200px;
  text-align: center;
  background: #e9e9e9;
  display: none;
}
.dr-gray .dr-gray-content .dr-help1 .share > img {
  margin-top: -40px;
  width: 120px;
  height: 120px;
}
.dr-gray .dr-gray-content .dr-help1 .share > a {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-left: 5px;
}
.dr-gray .dr-gray-content .dr-help1 .share > a:first-child {
  background: url("../images/ico-shares.png");
}
.dr-gray .dr-gray-content .dr-help1 .share > a:first-child:hover {
  background: url("../images/ico-shares.png") 0 -68px;
}
.dr-gray .dr-gray-content .dr-help1 .share > a.share2 {
  background: url("../images/ico-shares.png") -30px 0;
}
.dr-gray .dr-gray-content .dr-help1 .share > a.share2:hover {
  background: url("../images/ico-shares.png") -30px -68px;
}
.dr-gray .dr-gray-content .dr-help1 .share > a.share3 {
  background: url("../images/ico-shares.png") -62px 0;
}
.dr-gray .dr-gray-content .dr-help1 .share > a.share3:hover {
  background: url("../images/ico-shares.png") -62px -68px;
}
.dr-gray .dr-gray-content .dr-help1 .share > a.share4 {
  background: url("../images/ico-shares.png") -93px 0;
}
.dr-gray .dr-gray-content .dr-help1 .share > a.share4:hover {
  background: url("../images/ico-shares.png") -93px -68px;
}
.dr-gray .dr-gray-content .dr-help1 .share > a.share5 {
  background: url("../images/ico-shares.png") 0px -33px;
}
.dr-gray .dr-gray-content .dr-help1 .share > a.share5:hover {
  background: url("../images/ico-shares.png") 0px -101px;
}
.dr-gray .dr-gray-content .dr-help2 {
  line-height: 20px;
  text-align: center;
  width: 235px;
}
.dr-gray .dr-gray-content .dr-help2 p {
  font-size: 14px;
  margin-top: 25px;
  color: #626262;
}
.dr-gray .dr-gray-content .dr-help2 span {
  font-size: 25px;
  color: #424242;
}
/* dr black*/
.dr-black {
  width: 100%;
  height: 421px;
  padding-top: 30px;
  background: #797979;
  text-align: center;
  /*dr language*/
  /*end dr language*/
}
.dr-black .dr-black-wrap {
  width: 1000px;
  height: 100px;
  margin: 0 auto;
}
.dr-black .dr-black-wrap ul {
  width: 100%;
  box-sizing: border-box;
  height: 100px;
}
.dr-black .dr-black-wrap ul li {
  float: left;
  font-size: 16px;
  font-weight: bold;
  color: #cdcdcd;
  padding: 0 50px;
  border-right: 2px solid #ccc;
}
.dr-black .dr-black-wrap ul li a {
  display: block;
  font-size: 15px;
  font-weight: normal;
  color: #cdcdcd;
}
.dr-black p {
  margin-bottom: 0;
  color: #c9c9c7;
  font-size: 12px;
}
.dr-black .copy {
  margin-top: 50px;
}
.dr-black .partner {
  width: 1000px;
  margin: 5px auto;
  color: #999898;
  font-size: 12px;
}
.dr-black .partner span {
  padding: 0 5px;
}
.dr-black .partner a {
  display: inline-block;
  font-size: 12px;
  padding: 0 5px;
  color: #999898;
}
.dr-black .dr-languages {
  margin-top: 16px;
}
.dr-black .dr-languages a {
  color: #cdcdcd;
  font-size: 16px;
}
.dr-black .dr-languages p {
  margin-top: 10px;
}
/*end  dr black*/
/*end DR footer*/
/*第二个页面---love gift*/
/* love gift banner */
.LG-banner {
  width: 100%;
  height: 626px;
  margin-bottom: 10px;
  position: relative;
  background: url("../images/scon-a.jpg") -281px 0;
}
.LG-banner > a {
  display: inline-block;
  position: absolute;
  width: 295px;
  height: 335px;
  left: 50%;
  margin-left: -358px;
  top: 205px;
}
.LG-banner .LG-ban-Title {
  position: absolute;
  width: 178px;
  height: 108px;
  top: 370px;
  left: 50%;
  margin-left: -302px;
  text-align: center;
}
.LG-banner .LG-ban-Title a {
  display: block;
  color: #333;
  font-size: 15px;
  line-height: 25px;
}
.LG-banner .LG-ban-Title a:last-child {
  margin-top: 20px;
}
/* end love gift banner */
/*setDays*/
.LG-setDays {
  height: 250px;
  background: #f0f1f3;
}
.LG-setDays .w1200 {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.LG-setDays .w1200 .day1,
.LG-setDays .w1200 .day3 {
  width: 420px;
  height: 100%;
}
.LG-setDays .w1200 .day1 {
  text-align: center;
}
.LG-setDays .w1200 .day1 p {
  font-size: 20px;
  color: #666;
}
.LG-setDays .w1200 .day1 p.lianjia {
  margin-top: 50px;
  font-size: 28px;
  color: #000;
}
.LG-setDays .w1200 .day1 .line {
  display: inline-block;
  width: 100px;
  height: 2px;
  background: #ccc;
}
.LG-setDays .w1200 .day2 {
  width: 360px;
  height: 100%;
  text-align: center;
  color: #333;
  background: url("../images/LG-setDay.png") no-repeat center 0;
}
.LG-setDays .w1200 .day2 p:first-child {
  margin-top: 130px;
}
.LG-setDays .w1200 .day2 p:first-child a {
  display: inline-block;
  padding: 8px 25px;
  font-size: 16px;
  background: #c67c59;
  color: #fff;
}
.LG-setDays .w1200 .day3 {
  text-align: center;
}
.LG-setDays .w1200 .day3 div:first-child {
  margin-top: 50px;
  color: #999;
  font-size: 48px;
}
.LG-setDays .w1200 .day3 div:nth-child(2) {
  color: #c67c59;
  font-size: 24px;
}
.LG-setDays .w1200 .day3 div:nth-child(3) {
  color: #999;
  font-size: 24px;
}
/*end setDays*/
/*DR LG-three-pic*/
.LG-three-pic {
  width: 1200px;
  height: 561px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 0;
}
.LG-three-pic.last {
  height: 595px;
}
/*end DR LG-three-pic*/
/*end 第二个页面---love gift*/
/*第三个页面----钻戒定制*/
.dr-bread {
  width: 990px;
  height: 70px;
  line-height: 70px ;
  margin: 0 auto;
  color: #626262;
  font-size: 15px;
}
.dr-bread a {
  font-size: 15px;
  color: #626262;
}
.dr-pink {
  width: 100%;
  height: 475px;
  background: url("../images/third1.jpg");
}
.dr-pink a {
  display: block;
  width: 100%;
  height: 475px;
}
.dr-pink.pink2 {
  background: url("../images/third2.jpg");
}
.dr-pink.pink3 {
  background: url("../images/third3.jpg");
}
/*DR app*/
.dr-app {
  width: 100%;
  height: 747px;
  background: #f6efef;
  margin-bottom: 50px;
  padding-bottom: 40px;
  /*demo-Diamond*/
  /*end demo-Diamond*/
}
.dr-app .download-app {
  width: 1000px;
  height: 188px;
  margin: 0 auto;
  margin-top: 60px;
}
.dr-app .division-banner {
  width: 1000px;
  margin: 20px auto;
  height: 70px;
  margin-top: 70px;
}
.dr-app .division-banner .myline {
  height: 10px;
  margin-bottom: 5px;
  background: #000;
}
.dr-app .division-banner .hot-shop {
  height: 50px;
  background: #e0cbc6;
  position: relative;
}
.dr-app .division-banner .hot-shop img {
  position: absolute;
  width: 122px;
  height: 122px;
  top: -46px;
  left: -46px;
}
.dr-app .demo-Diamond {
  width: 1021px;
  height: 330px;
  margin: 40px auto;
}
.dr-app .demo-Diamond > .demo.ddd1 {
  margin-left: 0px;
}
.dr-app .demo-Diamond .demo {
  float: left;
  margin-left: 20px;
  width: 235px;
  height: 330px;
  background: #fff;
}
.dr-app .demo-Diamond .demo a {
  display: inline-block;
  text-align: center;
  width: 235px;
  height: 330px;
  color: #333;
  font-size: 16px;
}
.dr-app .demo-Diamond .demo a img {
  width: 100%;
}
.dr-app .demo-Diamond .demo a .someword i {
  display: inline-block;
  width: 15px;
  height: 1px;
  vertical-align: middle;
}
.dr-app .demo-Diamond .demo a .price {
  font-size: 13px;
  color: #cb8c6f;
}
.dr-app .demo-Diamond .demo a .price + p {
  padding-top: 10px;
  color: #828282;
  font-size: 12px;
}
/*nd eDR app*/
/*end 第三个页面----钻戒定制*/
/*注册页面*/
/*header*/
.header-nav {
  widht: 100%;
  height: 90px;
  line-height: 90px;
}
.header-nav .w1000 {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.header-nav .w1000 .logo-reg a {
  display: inline-block;
  width: 81px;
  height: 69px;
}
.header-nav .w1000 .logo-reg a img {
  width: 100%;
}
.header-nav .w1000 .nav-info {
  text-align: right;
  width: 500px;
  height: 100%;
}
.header-nav .w1000 .nav-info a {
  padding: 0 10px;
  margin-left: 10px;
  color: #626262;
  font-size: 12px;
}
.header-nav .w1000 .nav-info a:nth-child(2) {
  padding: 5px 20px;
  color: #fff;
  background: #d9b39b;
}
.header-nav .w1000 .nav-info a:nth-child(2):hover {
  background: #c5b39b;
}
.header-nav .w1000 .nav-info span {
  margin-left: 10px;
  padding: 5px 20px;
  background: url("../images/telleft.png") no-repeat left center;
}
/*end header*/
.play-box.res-play-box {
  height: 530px;
  margin-bottom: 5px;
}
.play-box.res-play-box img {
  height: 100%;
}
/*注册box*/
.mybg {
  background: #fff;
  color: #c67c59;
  height: 51px;
}
.letshow {
  display: block;
}
.register-box {
  width: 312px;
  height: 410px;
  overflow: hidden;
  background: #fff;
  position: absolute;
  right: 100px;
  top: 140px;
  z-index: 28;
  /*手机注册*/
  /*qq acount*/
  /*end qq acount*/
  /*end 手机注册*/
  /*表单的显示与隐藏*/
  /*end表单的显示与隐藏*/
}
.register-box p {
  text-align: center;
  margin: 0;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  color: #d49e85;
}
.register-box ul {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #f5f5f5;
  text-align: center;
  border-bottom: 1px solid #ccc;
  display: flex;
}
.register-box ul > li {
  width: 50%;
}
.register-box ul > li:first-child {
  border-right: 1px solid #ccc;
}
.register-box form[name="phoneForm"],
.register-box form[name="emailForm"] {
  text-align: center;
}
.register-box form[name="phoneForm"] .tip,
.register-box form[name="emailForm"] .tip {
  display: none;
  padding-left: 20px;
  margin-bottom: 2px;
  width: 250px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #f00;
  background: url("../images/ico-error.png") no-repeat left center;
}
.register-box form[name="phoneForm"] input[name="phoneNumber"],
.register-box form[name="emailForm"] input[name="phoneNumber"],
.register-box form[name="phoneForm"] input[name="emailNumber"],
.register-box form[name="emailForm"] input[name="emailNumber"],
.register-box form[name="phoneForm"] input[name="psd"],
.register-box form[name="emailForm"] input[name="psd"],
.register-box form[name="phoneForm"] input[name="checkinfo"],
.register-box form[name="emailForm"] input[name="checkinfo"] {
  padding-left: 30px;
  height: 36px;
  width: 250px;
  line-height: 36px;
  color: #666;
  border-radius: 4px;
  outline: none;
  border: 1px solid #CCc;
  margin-top: 15px;
}
.register-box form[name="phoneForm"] input[name="phoneNumber"][name="phoneNumber"],
.register-box form[name="emailForm"] input[name="phoneNumber"][name="phoneNumber"],
.register-box form[name="phoneForm"] input[name="emailNumber"][name="phoneNumber"],
.register-box form[name="emailForm"] input[name="emailNumber"][name="phoneNumber"],
.register-box form[name="phoneForm"] input[name="psd"][name="phoneNumber"],
.register-box form[name="emailForm"] input[name="psd"][name="phoneNumber"],
.register-box form[name="phoneForm"] input[name="checkinfo"][name="phoneNumber"],
.register-box form[name="emailForm"] input[name="checkinfo"][name="phoneNumber"] {
  margin-top: 0px;
  background: url("../images/ico-uinput.png") no-repeat 8px -62px;
}
.register-box form[name="phoneForm"] input[name="phoneNumber"][name="emailNumber"],
.register-box form[name="emailForm"] input[name="phoneNumber"][name="emailNumber"],
.register-box form[name="phoneForm"] input[name="emailNumber"][name="emailNumber"],
.register-box form[name="emailForm"] input[name="emailNumber"][name="emailNumber"],
.register-box form[name="phoneForm"] input[name="psd"][name="emailNumber"],
.register-box form[name="emailForm"] input[name="psd"][name="emailNumber"],
.register-box form[name="phoneForm"] input[name="checkinfo"][name="emailNumber"],
.register-box form[name="emailForm"] input[name="checkinfo"][name="emailNumber"] {
  margin-top: 0px;
  background: url("../images/ico-uinput.png") no-repeat 8px -132px;
}
.register-box form[name="phoneForm"] input[name="phoneNumber"][name="psd"],
.register-box form[name="emailForm"] input[name="phoneNumber"][name="psd"],
.register-box form[name="phoneForm"] input[name="emailNumber"][name="psd"],
.register-box form[name="emailForm"] input[name="emailNumber"][name="psd"],
.register-box form[name="phoneForm"] input[name="psd"][name="psd"],
.register-box form[name="emailForm"] input[name="psd"][name="psd"],
.register-box form[name="phoneForm"] input[name="checkinfo"][name="psd"],
.register-box form[name="emailForm"] input[name="checkinfo"][name="psd"] {
  background: url("../images/ico-uinput.png") no-repeat 6px -26px;
}
.register-box form[name="phoneForm"] input[name="phoneNumber"][name="checkinfo"],
.register-box form[name="emailForm"] input[name="phoneNumber"][name="checkinfo"],
.register-box form[name="phoneForm"] input[name="emailNumber"][name="checkinfo"],
.register-box form[name="emailForm"] input[name="emailNumber"][name="checkinfo"],
.register-box form[name="phoneForm"] input[name="psd"][name="checkinfo"],
.register-box form[name="emailForm"] input[name="psd"][name="checkinfo"],
.register-box form[name="phoneForm"] input[name="checkinfo"][name="checkinfo"],
.register-box form[name="emailForm"] input[name="checkinfo"][name="checkinfo"] {
  width: 120px;
  background: url("../images/ico-uinput.png") no-repeat 0 -99px;
}
.register-box form[name="phoneForm"] input[name="phoneNumber"][name="checkinfo"] + span,
.register-box form[name="emailForm"] input[name="phoneNumber"][name="checkinfo"] + span,
.register-box form[name="phoneForm"] input[name="emailNumber"][name="checkinfo"] + span,
.register-box form[name="emailForm"] input[name="emailNumber"][name="checkinfo"] + span,
.register-box form[name="phoneForm"] input[name="psd"][name="checkinfo"] + span,
.register-box form[name="emailForm"] input[name="psd"][name="checkinfo"] + span,
.register-box form[name="phoneForm"] input[name="checkinfo"][name="checkinfo"] + span,
.register-box form[name="emailForm"] input[name="checkinfo"][name="checkinfo"] + span {
  margin-left: 10px;
  display: inline-block;
  width: 120px;
  border: 1px solid #ccc;
  padding: 6px 0;
  border-radius: 4px;
  color: #c57d5c;
  background: #f4f4f4;
}
.register-box form[name="phoneForm"] input[name="phoneNumber"][name="checkinfo"] + span:hover,
.register-box form[name="emailForm"] input[name="phoneNumber"][name="checkinfo"] + span:hover,
.register-box form[name="phoneForm"] input[name="emailNumber"][name="checkinfo"] + span:hover,
.register-box form[name="emailForm"] input[name="emailNumber"][name="checkinfo"] + span:hover,
.register-box form[name="phoneForm"] input[name="psd"][name="checkinfo"] + span:hover,
.register-box form[name="emailForm"] input[name="psd"][name="checkinfo"] + span:hover,
.register-box form[name="phoneForm"] input[name="checkinfo"][name="checkinfo"] + span:hover,
.register-box form[name="emailForm"] input[name="checkinfo"][name="checkinfo"] + span:hover {
  background: #ccc;
}
.register-box form[name="phoneForm"] input[name="protocol"],
.register-box form[name="emailForm"] input[name="protocol"] {
  margin-top: 15px;
}
.register-box form[name="phoneForm"] span.protocol,
.register-box form[name="emailForm"] span.protocol {
  color: #626262;
  font-size: 13px;
}
.register-box form[name="phoneForm"] span.protocol a,
.register-box form[name="emailForm"] span.protocol a {
  color: #c57d5c;
}
.register-box form[name="phoneForm"] button[type="submit"],
.register-box form[name="emailForm"] button[type="submit"] {
  display: inline-block;
  width: 250px;
  padding: 8px 0;
  margin-top: 80px;
  background: #c57d5c;
  outline: none;
  border: none;
  border-radius: 4px;
  color: #fff;
}
.register-box form[name="phoneForm"] button.submit,
.register-box form[name="emailForm"] button.submit {
  color: #c57d5c;
  border: 1px solid #c57d5c;
  background: #fff;
  margin-top: 20px;
}
.register-box form[name="phoneForm"] p.login-method,
.register-box form[name="emailForm"] p.login-method {
  color: #333;
  font-size: 12px;
}
.register-box form[name="phoneForm"] p.login-method span,
.register-box form[name="emailForm"] p.login-method span {
  color: #c57d5c;
  cursor: pointer;
}
.register-box form[name="phoneForm"] p.join,
.register-box form[name="emailForm"] p.join {
  display: inline-block;
  width: 250px;
  height: 36px;
  font-size: 15px;
  margin-top: 10px;
  line-height: 36px;
  background: #c57d5c;
  border-radius: 4px;
}
.register-box form[name="phoneForm"] p.join a,
.register-box form[name="emailForm"] p.join a {
  color: #fff;
}
.register-box .qq {
  width: 250px;
  height: 25px;
  line-height: 30px;
  margin: 10px auto;
  margin-bottom: 0;
}
.register-box .qq > a {
  display: inline-block;
  width: 21px;
  height: 18px;
  margin-right: 10px;
}
.register-box .qq > a:first-child {
  background: url("../images/ico-otherLogin.png") no-repeat 1px 0;
}
.register-box .qq > a:first-child:hover {
  background: url("../images/ico-otherLogin.png") no-repeat 1px -27px;
}
.register-box .qq > a:nth-child(2) {
  background: url("../images/ico-otherLogin.png") no-repeat -42px 0;
}
.register-box .qq > a:nth-child(2):hover {
  background: url("../images/ico-otherLogin.png") no-repeat -42px -27px;
}
.register-box .qq > a:nth-child(3) {
  background: url("../images/ico-otherLogin.png") no-repeat -85px 0;
}
.register-box .qq > a:nth-child(3):hover {
  background: url("../images/ico-otherLogin.png") no-repeat -85px -27px;
}
.register-box .qq > a:nth-child(4) {
  background: url("../images/ico-otherLogin.png") no-repeat -128px 1px;
}
.register-box .qq > a:nth-child(4):hover {
  background: url("../images/ico-otherLogin.png") no-repeat -128px -25px;
}
.register-box .qq a:last-child {
  float: right;
  display: inline-block;
  width: 90px;
  color: #636363;
  margin-top: -4px;
  font-size: 12px;
}
.register-box .qq a:last-child:hover {
  color: #c57d5c;
}
.register-box > div {
  display: none;
}
/*end 注册box*/
#phone-email input[name='phoneNumber'] {
  background: url("../images/ico-uinput.png") no-repeat 6px 9px;
}
#phone-email input[type="radio"] {
  vertical-align: top;
}
#phone-email input[type="radio"] + label {
  font-size: 12px;
  color: #626262;
}
#phone-email .forget-psd {
  display: inline-block;
  font-size: 12px;
  margin-left: 130px;
}
#phone-email .forget-psd:hover {
  color: #c57d5c;
}
#phone-email button.submit {
  margin-top: 0;
}
#phone-email .psd-login {
  text-decoration: underline;
}
#phone-email .qq {
  justify-centent: center;
  widht: 100%;
  background: #f9f9f9;
  padding-left: 45px;
  text-align: center;
}
#phone-email .qq a:last-child {
  float: none;
}
/*end注册页面*/
/*右边的垂直导航*/
.v-nav {
  position: fixed;
  z-index: 999;
  right: 30px;
  top: 20px;
  width: 50px;
  height: 540px;
  display: none;
  text-align: center;
  background: #dbc7ba;
}
.v-nav a {
  color: #fff;
}
.v-nav .online-service {
  position: relative;
  width: 100%;
  height: 100px;
  background: #d9b39b;
}
.v-nav .online-service a {
  display: inline-block;
  padding: 3px 5px;
  width: 40px;
}
.v-nav .online-service .tip-img {
  display: none;
  width: 220px;
  height: 80px;
  position: absolute;
  left: -219px;
  top: 0px;
  background: url("../images/tc_border.png");
}
.v-nav .online-service .tip-img p:first-child {
  margin-top: 12px;
}
.v-nav .shop-car {
  margin: 20px 0;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  position: relative;
}
.v-nav .shop-car div {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 50px;
  background: #dbc7ba;
}
.v-nav .shop-car div:hover {
  background: #fff;
}
.v-nav .shop-car div a {
  display: inline-block;
}
.v-nav .shop-car div.word {
  left: -80px;
  display: none;
}
.v-nav .shop-car div.word a {
  width: 80px;
  background: #fff;
  color: #333;
}
.v-nav .shop-car div.car-img a {
  width: 35px;
  height: 40px;
  background: url("../images/icon_servie.png") no-repeat 2px -27px;
}
.v-nav .shop-car div.car-img a:hover {
  background: url("../images/icon_servie.png") no-repeat -40px -27px;
}
.v-nav .shop-car.dingdan .car-img a {
  background: url("../images/icon_servie.png") no-repeat 2px -64px;
}
.v-nav .shop-car.dingdan .car-img a:hover {
  background: url("../images/icon_servie.png") no-repeat -40px -64px;
}
.v-nav .shop-car.sc .car-img a {
  background: url("../images/icon_servie.png") no-repeat 2px -108px;
}
.v-nav .shop-car.sc .car-img a:hover {
  background: url("../images/icon_servie.png") no-repeat -40px -108px;
}
.v-nav .shop-car.website .car-img a {
  background: url("../images/icon_servie.png") no-repeat 2px -148px;
}
.v-nav .shop-car.website .car-img a:hover {
  background: url("../images/icon_servie.png") no-repeat -40px -148px;
}
.v-nav .shop-car#other-link .word {
  left: -180px;
  background: #000;
  width: 180px;
}
.v-nav .shop-car#other-link .word a {
  width: 100%;
  box-sizing: border-box;
  background: #f00;
  height: 100%;
  padding-top: 5px;
  line-height: 100%;
}
.v-nav .shop-car#other-link .word a span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 5px;
}
.v-nav .shop-car#other-link .word a span:first-child {
  background: url("../images/ico-shares.png") no-repeat 0px 1px;
}
.v-nav .shop-car#other-link .word a span:first-child:hover {
  background: url("../images/ico-shares.png") no-repeat 0px -67px;
}
.v-nav .shop-car#other-link .word a span:nth-child(2) {
  background: url("../images/ico-shares.png") no-repeat -30px 1px;
}
.v-nav .shop-car#other-link .word a span:nth-child(2):hover {
  background: url("../images/ico-shares.png") no-repeat -30px -67px;
}
.v-nav .shop-car#other-link .word a span:nth-child(3) {
  background: url("../images/ico-shares.png") no-repeat -61px 1px;
}
.v-nav .shop-car#other-link .word a span:nth-child(3):hover {
  background: url("../images/ico-shares.png") no-repeat -61px -67px;
}
.v-nav .shop-car#other-link .word a span:nth-child(4) {
  background: url("../images/ico-shares.png") no-repeat -92px 1px;
}
.v-nav .shop-car#other-link .word a span:nth-child(4):hover {
  background: url("../images/ico-shares.png") no-repeat -92px -67px;
}
.v-nav .shop-car#other-link .car-img a {
  background: url("../images/icon_servie.png") no-repeat 2px -230px;
}
.v-nav .shop-car#other-link .car-img a:hover {
  background: url("../images/icon_servie.png") no-repeat -40px -230px;
}
.v-nav .shop-car.back-now .car-img a {
  background: url("../images/top.png") no-repeat center bottom;
  background-size: 100%;
}
.v-nav .shop-car.back-now .car-img a:hover {
  background: url("../images/top.png") no-repeat center bottom;
  background-size: 100%;
}
/*右边的垂直导航 end*/
/*# sourceMappingURL=DR.css.map */